<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="../Harmonize.css?v=7">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="./../images/no.png" type="image/ico"/>
	
    <title>Demo</title>
</head>
<body>

    <header>
        <h1>Charts on web</h1>
        <p>A scalable and generic time-series platform consisting of an MSSQL database model, Windows application for analyzing, and API, supporting multiple statistical domains organized by time</p>
		<p>Charts created by Harmonize and copied (published) to web</p>
    </header>

    <nav>
	<a href="../index.html">Home</a>
	<a href="../data/index.html">Data</a>
    <a href="../install/install.html">Downloads</a>

		
    </nav>

<main>
    <h2>It's all about Time !</h2>

    <p><strong>Harmonize</strong> – Here you can see some charts samples created by Harmonize. This to illustrate some of the flexibility and how charts look like when copy to the web.
	 A sample article using Harmonize data and a Harmonize template looks like this – it can however be modified and customized: <a href="article.html">Article about consumer prices</a></p>

    <p>The 3 main templates can be reused for many charts, and you may want to customize your own additional templates or modify existing templates:</p>
	   <p>All charts are made by the use of <strong>www.Highcharts.com</strong></p>

    <ol class="demo-list">
        <li>
            <strong>Chart</strong> :
            <a href="Chart.html?filename=../data/cpi/charts/cpi_total.json">Consumer Price Index Totals</a>
        </li>

        <li>
            <strong>Chart</strong> :
            <a href="Chart.html?filename=../data/ppi/charts/ppi.json">CPI & PPI with common base year 2023 - aggregated to quarter and year</a>
        </li>

        <li>
            <strong>Multichart</strong> :
            <a href="MultiChart.html?filename=../data/cpi/charts/cpi_series.json">CPI Totals and some more indexes to scroll</a>
			  </li>

        <li>
			  <strong>Multichart</strong> :
            <a href="MultiChart.html?filename=../data/cpi/charts/cpi_total.json">CPI Total & monthly and yearly percentage changes</a>
        </li>

        <li>
            <strong>YearChart</strong> :
            <a href="YearChart.html?filename=../data/energy/charts/waterlevel_year.json">Waterlevels in percentage, year over year</a>
		</li>

        <li>

			 <strong>YearChart</strong> :
            <a href="YearChart.html?filename=../data/cpi/charts/cpi_transport.json">CPI Transport index, year over year</a>
        </li>

<!-- 
        <li>
            <strong>Report</strong> –
            <a href="Report.html?filename=CPI_chart.json">CPI Total & Changes</a> |
            <a href="Report.html?filename=cpi_series.json">CPI Series</a>
        </li>
-->		
		
    </ol>
	

	
	
	
</main>






    <footer>
         <p><strong>Timed and Tailored &copy; 2026</strong></p>
		 <small>erik.soberg&#64;ssb&#46;no</small>
    </footer>

</body>
</html>
